* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightsteelblue;
    font-family: Arial;
}

header {
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px white;
    h1 {
        line-height: 24px;
        text-align: center;
        padding: 20px;
        margin-bottom: 20px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    font-size: x-small;
    padding: 5px;
}

.postForm, #editPostForm {
    margin: 0 auto;
    h2 {
        margin: 0 auto;
        padding: 10px;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: darkslateblue;
        color: white;
        text-align: center;
        width: 65%;
        border: 3px solid black;
        border-radius: 8px;
        box-shadow: 2px 1px 1px black;
    }
    width: 60%;
    background-color: whitesmoke;
    padding: 15px;
    margin-bottom: 5px;
    margin-top: 0px;
    border-radius: 5px;
    border: 4px solid black;
    box-shadow: 3px 3px 2px black;
}

.postForm input, .postForm textarea, #editPostForm input, #editPostForm textarea {
    margin: 5px;
    margin-left: 0px;
    width: 100%;
    background-color: white;
    font-size: 15px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid black;
}

.buttons {
    display: flex;
    justify-content: center;
    margin:0 auto;
}

.editButtons {
    display: flex;
    justify-content: center;
    margin:0 auto;
}

.addPostButton, .cancelPostButton, .editPostButton, .cancelEditPostButton, .deleteButton{
    width: 50%;
    padding: 12px;
    margin: 10px;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    font-size: 17px;
    box-shadow: 2px 1px 1px black;
}

.addPostButton:hover, .cancelPostButton:hover, .editPostButton:hover, .cancelEditPostButton:hover, .deleteButton:hover {
    background-color: navy;
    box-shadow: 0 0 8px navy;
    color: white;   
}

.postForm label, #editPostForm label {
    font-weight: 700;
    padding: 15px;
    padding-left: 2px;
    margin: 20px;
    margin-left: 0px;
}

.postForm span, #editPostForm span {
    color: navy;
    font-weight: 500;
    padding: 15px;
    padding-left: 2px;
    margin: 20px;
    margin-left: 0px;
}

#successMessage, #editSuccessMessage {
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: darkslateblue;
    color: white;
    text-align: center;
    width: 95%;
    border: 3px solid black;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 2px 1px 1px black;
}

.viewPostsButton {
    display: flex;
    justify-content: center;
    margin: 0 auto 0;
    text-align: center;
    width: 60%;
    background-color: lightcyan;
    border-radius: 5px;
    border: 4px solid black;
    box-shadow: 3px 3px 2px black;
    padding: 20px;
    font-size: larger;
    font-weight: 800;
}

.viewPostsButton:hover {
    background-color: darkslateblue;
    color: white;
}

.post-list {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    background-color: lightcyan;
    border-radius: 5px;
    border: 4px solid black;
    box-shadow: 3px 3px 2px black;
    padding: 20px;
}

.post-list h2 {
    background-color: azure;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    font-weight: 800;
}

.post-list p {
    background-color: white;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}

.post-list img {
    background-color: blueviolet;
    width: 100%;
}

nav {
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0 auto;
}

nav ul li a {
    color: black;
    background-color: slateblue;
    border: 2px solid white;
    box-shadow: 0.5px 0.5px 0.5px white;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px;
    padding-left: 7%;
    padding-right: 7%;
    margin: 5px;
    font-size: 18px;
    font-weight: 900;
}

nav ul li a:hover {
    background-color: white;
    box-shadow: 0.5px 0.5px 0.5px white;
    color: black;   
}